<form nz-form [formGroup]="technicalForm" [nzLayout]="'horizontal'">
    <nz-divider nzText="TECHNICAL STAGE"></nz-divider>
    <br /> {{message}}
    <nz-form-item>
        <nz-form-control>
            <input type="hidden" formControlName="id">
        </nz-form-control>
    </nz-form-item>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type">Status</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="status" (ngModelChange)="statusChanged()">
                        <nz-option *ngFor="let status of statusList" nzLabel="{{status.name}}" [nzValue]="status.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="technicalForm.get('status').dirty && technicalForm.get('status').errors">Please select a status</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="date">Date</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker style="width: 100%;" formControlName="date"></nz-date-picker>
                    <nz-form-explain *ngIf="technicalForm.get('date').dirty && technicalForm.get('date').errors">
                        Please input a date
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type">Interviewer</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="consultantOwnerId" nzPlaceHolder="Select the owner of the process">
                        <nz-option *ngFor="let c of _consultants" nzLabel="{{c.name}} {{c.lastName}}" [nzValue]="c.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="technicalForm.get('consultantOwnerId').dirty && technicalForm.get('consultantOwnerId').errors">Please input the recruiter</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="consultantDelegateId">Delegate</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="consultantDelegateId" nzPlaceHolder="Select a delegate for the process">
                        <nz-option *ngFor="let c of _consultants" nzLabel="{{c.name}} {{c.lastName}}" [nzValue]="c.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="technicalForm.get('consultantDelegateId').dirty && technicalForm.get('consultantDelegateId').errors">
                        Please input the consultant</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="seniority">Seniority</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select #seniority formControlName="seniority" (ngModelChange)="updateSeniority(seniority.value)">
                        <nz-option *ngFor="let seniority of seniorityList" nzLabel="{{seniority.name}}" [nzValue]="seniority.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="technicalForm.get('seniority').dirty && technicalForm.get('seniority').errors">Please select a seniority</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="alternativeSeniority">Alternative Seniority</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select #alternativeSeniority formControlName="alternativeSeniority" (ngModelChange)="updateAlternativeSeniority(alternativeSeniority.value)">
                        <nz-option *ngFor="let seniority of seniorityList" nzLabel="{{seniority.name}}" [nzValue]="seniority.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="technicalForm.get('seniority').dirty && technicalForm.get('seniority').errors">Please select a seniority</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="feedback">Feedback</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <textarea rows="1" id="feedback" nz-input nzAutosize formControlName="feedback" placeholder="Input any additional information if necessary" id="feedback"></textarea>
                </nz-form-control>
                <nz-form-explain style="color: #f5222d" *ngIf="technicalForm.get('feedback').dirty && technicalForm.get('feedback').errors">
                    <ng-container *ngIf="technicalForm.get('feedback')?.hasError('trimBeginError')">
                        The input has leading whitespace!
                    </ng-container>
                    <ng-container *ngIf="technicalForm.get('feedback')?.hasError('trimEndError')">
                        The input has trailing whitespace!
                    </ng-container>
                </nz-form-explain>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="client">Client</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input id="client" formControlName="client" placeholder="Input the client that best suits" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12" *ngIf="showRejectionReason()">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="rejectionReason">Rejection Reason</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <textarea rows="1 " nz-input id="rejectionReason" formControlName="rejectionReason" placeholder="Input the rejection reason"></textarea>
                </nz-form-control>
                <nz-form-explain style="color: #f5222d " *ngIf="showRejectionReason() && technicalForm.get('rejectionReason').dirty && technicalForm.get('rejectionReason').errors ">
                    <ng-container *ngIf="technicalForm.get('rejectionReason')?.dirty && technicalForm.get('rejectionReason')?.errors ">
                        Please input rejection reason!
                    </ng-container>
                </nz-form-explain>
            </nz-form-item>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-form-item *ngFor="let control of controlArray;let i = index">
                <nz-form-label [nzXs]="24" [nzSm]="4" *ngIf="i==0" [nzFor]="control.controlInstance[0]">
                    Skills
                </nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="20" [nzOffset]="i==0 ? 0 : 4">
                    <div nz-row>
                        <div nz-col nzSpan="4">
                            <nz-select [nzDisabled]="disable" style="width: 95%; margin-right:1%;" [formControlName]="control.controlInstance[0]" [attr.id]="control.id" id="control.id" nzShowSearch nzAllowClear [nzAllowClear]="false" nzPlaceHolder="Select a skill">
                                <nz-option *ngFor="let skill of skills;" nzLabel="{{skill.name}}" nzValue="{{skill.id}}">
                                </nz-option>
                            </nz-select>
                            <nz-form-explain *ngIf="getFormControl(control.controlInstance[0])?.dirty&&getFormControl(control.controlInstance[0])?.hasError('required')">
                                Please input candidate's skill or delete this field.
                            </nz-form-explain>
                        </div>
                        <div nz-col nzSpan="7">
                            <nz-form-control style="text-align: center; margin-left: 10%;">
                                <nz-slider [nzDisabled]="disable" formControlName="{{control.controlInstance[1]}}" id="control.controlInstance[1]">
                                </nz-slider>
                            </nz-form-control>
                        </div>
                        <div nz-col nzSpan="9">
                            <nz-form-control [nzSm]="14" [nzXs]="24" style="margin-left: 10%; width: 85%;">
                                <input type="text" nz-input formControlName="{{control.controlInstance[2]}}" style="width: 100%;" id="control.controlInstance[2]" placeholder="Please input a comment">
                                <nz-form-explain *ngIf="technicalForm.get(control.controlInstance[2]).dirty && technicalForm.get(control.controlInstance[2]).errors">
                                    <ng-container *ngIf="technicalForm.get(control.controlInstance[2])?.hasError('trimBeginError')">
                                        The input has leading whitespace!
                                    </ng-container>
                                    <ng-container *ngIf="technicalForm.get(control.controlInstance[2])?.hasError('trimEndError')">
                                        The input has trailing whitespace!
                                    </ng-container>
                                    <ng-container *ngIf="technicalForm.get(control.controlInstance[2])?.hasError('required')">
                                        Please input a comment!
                                    </ng-container>
                                </nz-form-explain>
                            </nz-form-control>
                        </div>
                        <div nz-col nzSpan="1">
                            <i nz-icon type="minus-circle-o" class="dynamic-delete-button" (click)="removeField(control,$event)"></i>
                        </div>
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzXs]="{span:24,offset:0}" [nzSm]="{span:20,offset:4}">
                    <button nz-button nzType="dashed" style="width:82%" (click)="addField($event)"><i nz-icon
                            type="plus"></i>
                        Add Skill</button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>


</form>