<div nz-row>
    <div nz-col nzSpan="23">
        <button nz-button nzType="primary" (click)="showAddModal(officeModal)" nzShape="round">
      <i nz-icon type="plus" theme="outline"></i>Add new Office</button>
    </div>
</div>

<br />
<div nz-row>
    <div nz-col nzSpan="23">
        <nz-table #OfficeTable [nzData]="_detailedOffice" [nzPageSize]="10">

            <thead>
                <tr>
                    <th [style.text-align]="center">Name</th>
                    <th [style.text-align]="center">Description</th>
                    <th [style.text-align]="center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Office of OfficeTable.data">
                    <td>{{ Office.name }}</td>
                    <td>{{ Office.description | truncate:75 }}</td>
                    <td [style.text-align]="center">
                        <nz-divider nzType="vertical"></nz-divider>
                        <i (click)="showDetailsModal(Office.id)" style="cursor: pointer;" nz-icon type="info-circle" theme="outline" nzTitle="Details" nz-tooltip></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i (click)="showEditModal(officeModal, Office.id)" style="cursor: pointer;" nz-icon type="edit" theme="outline" nzTitle="Edit" nz-tooltip></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i (click)="showDeleteConfirm(Office.id)" style="cursor: pointer;" nz-icon type="delete" theme="outline" nzTitle="Delete" nz-tooltip></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<ng-template #officeModal>
    <form nz-form [formGroup]="officeForm">
        <div nz-row>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Name</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" nz-input formControlName="name" id="name" placeholder="Please enter the Name">
                        <nz-form-explain *ngIf="officeForm.get('name').dirty && officeForm.get('name').errors">
                            <ng-container *ngIf="officeForm.get('name')?.hasError('trimBeginError')">
                                The input has leading whitespace!
                            </ng-container>
                            <ng-container *ngIf="officeForm.get('name')?.hasError('trimEndError')">
                                The input has trailing whitespace!
                            </ng-container>
                            <ng-container *ngIf="officeForm.get('name')?.hasError('required')">
                                Please enter the name!
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">Description</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" nz-input formControlName="description" id="description" placeholder="Please enter the description">
                        <nz-form-explain *ngIf="officeForm.get('description').dirty && officeForm.get('description').errors">
                            <ng-container *ngIf="officeForm.get('description')?.hasError('trimBeginError')">
                                The input has leading whitespace!
                            </ng-container>
                            <ng-container *ngIf="officeForm.get('description')?.hasError('trimEndError')">
                                The input has trailing whitespace!
                            </ng-container>
                            <ng-container *ngIf="officeForm.get('description')?.hasError('required')">
                                Please enter the description!
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</ng-template>

<nz-modal [(nzVisible)]="isDetailsVisible" nzWrapClassName="vertical-center-modal" nzTitle="Office Details" [nzFooter]="null" (nzOnCancel)="isDetailsVisible = false">
    <nz-list nzBordered nzSize="large" *ngIf="officeDetails">
        <nz-list-item><strong style="margin-right: 1%;">Name: </strong> {{officeDetails.name}}</nz-list-item>
        <nz-list-item><strong style="margin-right: 1%;">Descripción: </strong> {{officeDetails.description}}
        </nz-list-item>
        <nz-list-item *ngIf="officeDetails.roomItems"><strong style="margin-right: 1%;">Rooms: </strong>
            <div>
                <nz-tag nz-popover nzContent="{{room.description}} " style="margin: 1%;" [nzColor]="getColor(officeDetails.roomItems, room)" *ngFor="let room of officeDetails.roomItems">{{ room.name}}</nz-tag>

            </div>
        </nz-list-item>
    </nz-list>
</nz-modal>