<form nz-form [formGroup]="recordForm" [nzLayout]="'horizontal'">
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="offerDate">Offer Date</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-date-picker style="width: 100%;" formControlName="offerDate"></nz-date-picker>
            <nz-form-explain *ngIf="recordForm.get('offerDate').dirty && recordForm.get('offerDate').errors">
                Please input a offer date
            </nz-form-explain>
        </nz-form-control>
      </nz-form-item>  
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="salaryOffer">Salary offer</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input type="number" nz-input formControlName="salaryOffer" id="salaryOffer" placeholder="Please input the salary offer" pattern="[0-9]+([\.,][0-9]+)?">
            <nz-form-explain *ngIf="recordForm.get('salaryOffer').dirty && recordForm.get('salaryOffer').errors">
                Please input the salary offer
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="rejectionReason">Rejection reason</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input type="text" nz-input formControlName="rejectionReason" id="rejectionReason" placeholder="Please input the rejection reason">
            <nz-form-explain *ngIf="recordForm.get('rejectionReason').dirty && recordForm.get('rejectionReason').errors">
                <ng-container *ngIf="recordForm.get('rejectionReason')?.hasError('trimBeginError')">
                    The input has leading whitespace!
                </ng-container>
                <ng-container *ngIf="recordForm.get('rejectionReason')?.hasError('trimEndError')">
                    The input has trailing whitespace!
                </ng-container>
                <ng-container *ngIf="recordForm.get('rejectionReason')?.hasError('required')">
                    Please input the rejection reason!
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status">Status</nz-form-label>
          <nz-radio-group formControlName="status">
                <label *ngFor="let offerStatus of offerStatusList" [nzDisabled]="disabled" nz-radio-button [nzValue]="offerStatus.id"><span>{{offerStatus.name}}</span></label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>    
  <div nz-row>
    <div nz-col nzSpan="24">
      <button nz-button (click)="addOffer()">Add offer</button>
    </div>
  </div>
</form>
<br>
<br>
<nz-table nzBordered nzShowSizeChanger [nzData]="_temporalOffers">  
  <thead>
      <tr>
          <th>Date</th>
          <th>Offer</th>
          <th>Status</th>
          <th>Rejection reason</th>          
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let offer of offerHistory; let i = index">
      <td scope="row"> 
        {{ offer.offerDate | date: 'dd/MM/yyyy' }}
      </td>
      <td scope="row"> 
        {{ offer.salary }}
      </td>
      <td scope="row"> 
        {{ offer.status.name }}
      </td>
      <td scope="row">         
        {{ offer.rejectionReason }}
      </td>
      <td [style.text-align]="center">        
        <i nzTitle="Edit" (click)="showEditModal(editModal, i)" style="cursor: pointer;" nz-tooltip nz-icon type="edit" theme="outline"></i>
          <nz-divider nzType="vertical"></nz-divider>
        <i nzTitle="Delete" (click)="showDeleteConfirm(i)" style="cursor: pointer;" nz-tooltip nz-icon type="delete" theme="outline"></i>        
      </td>
    </tr>
  </tbody>
</nz-table>
<button nz-button nzType="primary" (click)="doSomething()"></button>

<ng-template #editModal>
  <form nz-form [formGroup]="editForm" [nzLayout]="'horizontal'">
      <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="offerDate">Offer Date</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-date-picker style="width: 100%;" formControlName="offerDate"></nz-date-picker>
                  <nz-form-explain *ngIf="recordForm.get('offerDate').dirty && recordForm.get('offerDate').errors">
                      Please input a offer date
                  </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
      </div>
      <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="salaryOffer">Salary offer</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="number" nz-input formControlName="salaryOffer" id="salaryOffer" placeholder="Please input the salary offer" pattern="[0-9]+([\.,][0-9]+)?">
                    <nz-form-explain *ngIf="editForm.get('salaryOffer').dirty && editForm.get('salaryOffer').errors">
                        Please input the salary offer
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
          </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="rejectionReason">Rejection reason</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input type="text" nz-input formControlName="rejectionReason" id="rejectionReason" placeholder="Please input the rejection reason">
                <nz-form-explain *ngIf="editForm.get('rejectionReason').dirty && editForm.get('rejectionReason').errors">
                    <ng-container *ngIf="editForm.get('rejectionReason')?.hasError('trimBeginError')">
                        The input has leading whitespace!
                    </ng-container>
                    <ng-container *ngIf="editForm.get('rejectionReason')?.hasError('trimEndError')">
                        The input has trailing whitespace!
                    </ng-container>
                    <ng-container *ngIf="editForm.get('rejectionReason')?.hasError('required')">
                        Please input the rejectionReason!
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status">Status</nz-form-label>
              <nz-radio-group formControlName="status">
                    <label *ngFor="let offerStatus of offerStatusList" [nzDisabled]="disabled" nz-radio-button [nzValue]="offerStatus.id"><span>{{offerStatus.name}}</span></label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
  </form>
</ng-template>