<div nz-row>
    <div nz-col nzSpan="23">
        <button nz-button nzType="primary" (click)="showAddModal(roomModal)" nzShape="round">
        <i nz-icon type="plus" theme="outline"></i>Add new Room</button>
    </div>
</div>

<br />
<div nz-row>
    <div nz-col nzSpan="23">
        <nz-table #RoomTable [nzData]="_detailedRoom" [nzPageSize]="10">
            <thead>
                <tr>
                    <th [style.text-align]="center">Name</th>
                    <th [style.text-align]="center">Description</th>
                    <th [style.text-align]="center">Office</th>
                    <th [style.text-align]="center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let room of RoomTable.data">
                    <td>{{ room.name }}</td>
                    <td>{{ room.description | truncate:75 }}</td>
                    <td>{{ getOfficeNameByID(room.officeId) }}</td>
                    <td [style.text-align]="center">
                        <!-- <nz-divider nzType="vertical"></nz-divider>
              <i (click)="showDetailsModal(room.id)" style="cursor: pointer;" nz-icon type="info-circle" theme="outline"
                nzTitle="Details" nz-tooltip></i> -->
                        <nz-divider nzType="vertical"></nz-divider>
                        <i (click)="showEditModal(roomModal, room.id)" style="cursor: pointer;" nz-icon type="edit" theme="outline" nzTitle="Edit" nz-tooltip></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i (click)="showDeleteConfirm(room.id)" style="cursor: pointer;" nz-icon type="delete" theme="outline" nzTitle="Delete" nz-tooltip></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<ng-template #roomModal>
    <form nz-form [formGroup]="roomForm">
        <div nz-row>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Name</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" nz-input formControlName="name" id="name" placeholder="Please enter a name">
                        <nz-form-explain *ngIf="roomForm.get('name').dirty && roomForm.get('name').errors">
                            <ng-container *ngIf="roomForm.get('name')?.hasError('trimBeginError')">
                                The input has leading whitespace!
                            </ng-container>
                            <ng-container *ngIf="roomForm.get('name')?.hasError('trimEndError')">
                                The input has trailing whitespace!
                            </ng-container>
                            <ng-container *ngIf="roomForm.get('name')?.hasError('required')">
                                Please enter the name!
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">Description</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" nz-input formControlName="description" id="description" placeholder="Please enter a description">
                        <nz-form-explain *ngIf="roomForm.get('description').dirty && roomForm.get('description').errors">
                            <ng-container *ngIf="roomForm.get('description')?.hasError('trimBeginError')">
                                The input has leading whitespace!
                            </ng-container>
                            <ng-container *ngIf="roomForm.get('description')?.hasError('trimEndError')">
                                The input has trailing whitespace!
                            </ng-container>
                            <ng-container *ngIf="roomForm.get('description')?.hasError('required')">
                                Please enter the description!
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Office</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-select formControlName="profileId">
                            <nz-option *ngFor="let office of offices" [nzLabel]="office.name" [nzValue]="office.id">
                            </nz-option>
                        </nz-select>
                        <!-- <nz-form-explain *ngIf="validateForm.get('profileId').dirty && validateForm.get('profileId').errors">Please
                input the candidate profile</nz-form-explain> -->
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</ng-template>

<!-- <nz-modal [(nzVisible)]="isDetailsVisible" nzWrapClassName="vertical-center-modal" nzTitle="Office Details"
    [nzFooter]="null" (nzOnCancel)="isDetailsVisible = false">
    <nz-list nzBordered nzSize="large" *ngIf="officeDetails">
      <nz-list-item><strong style="margin-right: 1%;">Name: </strong> {{officeDetails.name}}</nz-list-item>
      <nz-list-item><strong style="margin-right: 1%;">Descripción: </strong> {{officeDetails.description}}
      </nz-list-item>
      <nz-list-item *ngIf="officeDetails.roomItems"><strong style="margin-right: 1%;">Room Items: </strong>
        <div>
          <nz-tag nz-popover nzContent="{{room.description}} " style="margin: 1%;"
            *ngFor="let room of officeDetails.roomItems">{{ room.name }}</nz-tag>
        </div>
      </nz-list-item>
    </nz-list>
  </nz-modal> -->