<div nz-row>
    <div nz-col nzSpan="23">
        <button nz-button nzType="primary" (click)="showAddModal(projectionModal)" nzShape="round">
      <i nz-icon type="plus" theme="outline"></i>Add new projection</button>
    </div>
</div>
<br />
<div nz-row>
    <div nz-col nzSpan="23">
        <nz-table #projectionTable [nzData]="listOfDisplayData" [nzPageSize]="12" nzShowSizeChanger>
            <thead>
                <tr>
                    <th [style.text-align]="center">Value</th>
                    <th [style.text-align]="center">Month</th>
                    <th nzCustomFilter>Year
                        <nz-dropdown [nzPlacement]="'bottomCenter'" style="margin-left: 5%;">
                            <button nz-button nz-dropdown><i nz-icon nzType="caret-down" nzTheme="outline"></i></button>
                            <ul nz-menu>
                                <li nz-menu-item (click)="searchYear(0)"><label>ALL</label></li>
                                <li nz-menu-item *ngFor="let year of yearList" (click)="searchYear(year)">
                                    <label>{{year}}</label>
                                </li>
                            </ul>
                        </nz-dropdown>
                    </th>
                    <th [style.text-align]="center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let projection of projectionTable.data">
                    <td>{{ projection.value }}</td>
                    <td>{{ getMonth(projection) }}</td>
                    <td>{{ projection.year }}</td>
                    <td [style.text-align]="center">
                        <i (click)="showEditModal(projectionModal, projection.id)" style="cursor: pointer;" nz-icon type="edit" theme="outline" nzTitle="Edit" nz-tooltip></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i (click)="showDeleteConfirm(projection.id)" style="cursor: pointer;" nz-icon type="delete" theme="outline" nzTitle="Delete" nz-tooltip></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<ng-template #projectionModal>
    <form nz-form [formGroup]="projectionForm">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="month">Month</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-month-picker formControlName="month" (ngModelChange)="onMonthChange($event)" nzPlaceHolder="Select a month">
                </nz-month-picker>
                <nz-form-explain *ngIf="projectionForm.get('month').dirty && projectionForm.get('month').errors && !exists(projectionForm.get('month').errors)">Please enter the month</nz-form-explain>
                <nz-form-explain *ngIf="projectionForm.get('month').dirty && exists(projectionForm.get('month').errors)">
                    This month is already projected
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="value">Value</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input numbersOnly pattern="[0-9]*" type="number" nz-input formControlName="value" id="value" placeholder="Please enter a value">
                <nz-form-explain *ngIf="projectionForm.get('value').dirty && projectionForm.get('value').errors">Please enter the value</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>