<!-- <div nz-col nzSpan="3" style="float: left">
    <span *ngIf="canAssign()">Showing: </span>
    <nz-switch *ngIf="canAssign()" [(ngModel)]="isHr" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate" (click)="filterTasks()">
    </nz-switch>
</div>
<ng-template #checkedTemplate>HR</ng-template>
<ng-template #unCheckedTemplate>OTHER</ng-template> -->
<br/> <br/>



<div nz-row>
    <div nz-col nzSpan="12">
        <button nz-button nzType="primary" (click)="showAddModal(DaysOffModal)" nzShape="round">
          <i nz-icon type="plus" theme="outline"></i>
          Add new day/s off
        </button>
    </div>

</div>
<br/>
<div nz-row>
    <div nz-col nzSpan="24">
        <nz-table #daysOffTable [nzData]="listOfDaysOff" [nzPageSize]="10" nzShowSizeChanger>
            <thead>
                <tr>
                    <th nzCustomFilter>D.N.I.
                        <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown>
                            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible" nz-dropdown></i>
                            <div class="search-box">
                                <input type="text" nz-input placeholder="Search dni" [(ngModel)]="searchValue">
                                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="reset()">Reset</button>
                            </div>
                        </nz-dropdown>
                    </th>
                    <th [style.text-align]="center" nzCustomFilter>Type
                        <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdownType>
                            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdownType.nzVisible" nz-dropdown></i>
                            <div class="search-box">
                                <nz-select placeholder="Search type" [(ngModel)]="searchValueType" style="width: 100%; margin-bottom: 2%;">
                                    <nz-option *ngFor="let reason of reasons" nzLabel="{{reason.name}}" [nzValue]="reason.id">
                                    </nz-option>
                                </nz-select>
                                <br />
                                <button nz-button nzSize="small" nzType="primary" (click)="searchType()" class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="resetType()">Reset</button>
                            </div>
                        </nz-dropdown>
                    </th>
                    <th [style.text-align]="center">Date</th>
                    <th [style.text-align]="center">End Date</th>
                    <th [style.text-align]="center" nzCustomFilter>Status
                        <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdownType>
                            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdownType.nzVisible" nz-dropdown></i>
                            <div class="search-box">
                                <nz-select placeholder="Search status" [(ngModel)]="searchValueStatus" style="width: 100%; margin-bottom: 2%;">
                                    <nz-option *ngFor="let status of statusList" nzLabel="{{status.name}}" [nzValue]="status.id">
                                    </nz-option>
                                </nz-select>
                                <br />
                                <button nz-button nzSize="small" nzType="primary" (click)="searchStatus()" class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="resetStatus()">Reset</button>
                            </div>
                        </nz-dropdown>
                    </th>
                    <th [style.text-align]="center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let daysOff of daysOffTable.data">
                    <td>{{ daysOff.employee.dni | number:'8.0-0' }}</td>
                    <td>{{ getType(daysOff.type) }}</td>
                    <td>{{ daysOff.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ daysOff.endDate | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ getStatus(daysOff.status) }}</td>
                    <td [style.text-align]="center">
                        <!-- <nz-divider nzType="vertical"></nz-divider> -->
                        <i (click)="showEditModal(DaysOffModal, daysOff.id)" style="cursor: pointer;" nz-icon type="edit" theme="outline" nzTitle="Edit" nz-tooltip></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i (click)="showDeleteConfirm(daysOff.id)" style="cursor: pointer;" nz-icon type="delete" theme="outline" nzTitle="Delete" nz-tooltip></i>
                        <nz-divider *ngIf="showAcceptButton(daysOff.status)" nzType="vertical"></nz-divider>
                        <i nzTitle="Accept" style="cursor: pointer;" nz-tooltip *ngIf="showAcceptButton(daysOff.status)" nz-icon nzType="check-circle" nzTheme="outline" (click)="acceptPetition(daysOff)"></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<ng-template #DaysOffModal>
    <form nz-form [formGroup]="validateForm" [nzLayout]="'horizontal'">
        <div nz-row>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="DNI">D.N.I.</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input #DNI type="number" nz-input formControlName="DNI" id="DNI" placeholder="Please input the DNI">
                        <nz-form-explain *ngIf="validateForm.get('DNI').dirty && validateForm.get('DNI').errors">
                            <ng-container *ngIf="validateForm.get('DNI')?.hasError('trimBeginError')">
                                The input has leading whitespace!
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('DNI')?.hasError('trimEndError')">
                                The input has trailing whitespace!
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('DNI')?.hasError('required')">
                                Please input the DNI!
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('DNI')?.hasError('dniTooLongError')">
                                The DNI has more than 8 characters!
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('DNI')?.hasError('dniTooShortError')">
                                The DNI shouldn't be less than zero!
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type">Reason</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-select formControlName="type" id="idType">
                            <nz-option *ngFor="let reason of reasons" nzLabel="{{reason.name}}" [nzValue]="reason.id">
                            </nz-option>
                        </nz-select>
                        <nz-form-explain *ngIf="validateForm.get('type').dirty && validateForm.get('type').errors">
                            <ng-container *ngIf="validateForm.get('type')?.hasError('required')">
                                Please input the reason!
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="24">
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="date">Date</nz-form-label>
                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <div *ngIf="!isHr">
                                <nz-date-picker style="width: 100%;" formControlName="date" nzFormat="yyyy-MM-dd" [nzDisabledDate]="disabledDate">
                                </nz-date-picker>
                            </div>
                            <div *ngIf="isHr">
                                <nz-date-picker style="width: 100%;" formControlName="date" nzFormat="yyyy-MM-dd">
                                </nz-date-picker>
                            </div>
                            <nz-form-explain *ngIf="validateForm.get('date').dirty && validateForm.get('date').errors">
                                Please input a date
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <nz-form-label [nzSm]="2" [nzXs]="2" nzFor="endDate">To</nz-form-label>
                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                            <div *ngIf="!isHr">
                                <nz-date-picker style="width: 100%;" formControlName="endDate" nzFormat="yyyy-MM-dd" [nzDisabledDate]="disabledDate">
                                </nz-date-picker>
                            </div>
                            <div *ngIf="isHr">
                                <nz-date-picker style="width: 100%;" formControlName="endDate" nzFormat="yyyy-MM-dd">
                                </nz-date-picker>
                            </div>
                            <nz-form-explain *ngIf="validateForm.get('endDate').dirty && validateForm.get('endDate').errors">
                                Please input a final date
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </div>

        <div nz-row *ngIf="isHr">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status">Status</nz-form-label>
                        <nz-radio-group formControlName="status">
                            <label *ngFor="let status of statusList" nz-radio-button [nzValue]="status.id"><span>{{ status.name }}</span></label>
                        </nz-radio-group>
                        <nz-form-explain>
                            <ng-container *ngIf="validateForm.get('status')?.hasError('required')">
                                Please input the status!
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</ng-template>
