<form nz-form [formGroup]="candidateForm" [nzLayout]="'horizontal'">
    <nz-divider nzText="CONTACTED CANDIDATE "></nz-divider>
    <br />
    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="12" nzFor="name">Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="text" nz-input formControlName="name" id="name" placeholder="Please input the Name">
                    <nz-form-explain *ngIf="candidateForm.get('name').dirty && candidateForm.get('name').errors">
                        <ng-container *ngIf="candidateForm.get('name')?.hasError('trimBeginError')">
                            The input has leading whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('name')?.hasError('trimEndError')">
                            The input has trailing whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('name')?.hasError('required')">
                            Please input the name!
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
                <button nz-button nzType="primary" style="background-color: green; margin: 0.5% 0% 0% 1%;" (click)="searchCandidate(candidateForm.get('name').value,consultantDetailModal)">Check</button>
            </nz-form-item>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName" [hidden]="!visible">First Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [hidden]="!visible">
                    <input type="text" nz-input formControlName="firstName" id="FirstName" placeholder="Please input the First Name">
                    <nz-form-explain *ngIf="candidateForm.get('firstName').dirty && candidateForm.get('firstName').errors">
                        <ng-container *ngIf="candidateForm.get('firstName')?.hasError('trimBeginError')">
                            The input has leading whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('firstName')?.hasError('trimEndError')">
                            The input has trailing whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('firstName')?.hasError('required')">
                            Please input the First name!
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName" [hidden]="!visible">Last Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [hidden]="!visible">
                    <input type="text" nz-input formControlName="lastName" id="lastName" placeholder="Please input the last name">
                    <nz-form-explain *ngIf="candidateForm.get('lastName').dirty && candidateForm.get('lastName').errors">
                        <ng-container *ngIf="candidateForm.get('lastName')?.hasError('trimBeginError')">
                            The input has leading whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('lastName')?.hasError('trimEndError')">
                            The input has trailing whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('lastName')?.hasError('required')">
                            Please input the last name!
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="id" [hidden]="true">id</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [hidden]="true">
                    <input type="number" nz-input formControlName="id" id="id">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" [hidden]="!visible">E-mail</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [hidden]="!visible">
                    <input nz-input formControlName="email" id="email" placeholder="Please input the email">
                    <nz-form-explain *ngIf="candidateForm.get('email').dirty && candidateForm.get('email').errors">The input is not valid E-mail!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" [hidden]="!visible">Phone Number</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="candidateForm.controls['phoneNumber']" [hidden]="!visible">
                    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                        <ng-template #addOnBeforeTemplate>
                            <nz-select formControlName="phoneNumberPrefix" style="width: 70px;">
                                <nz-option nzLabel="+54" nzValue="+54"></nz-option>
                                <nz-option nzLabel="+1" nzValue="+1"></nz-option>
                            </nz-select>
                        </ng-template>
                        <input formControlName="phoneNumber" id="'phoneNumber'" type="number" nz-input placeholder="Please input a phone number">
                    </nz-input-group>
                    <nz-form-explain *ngIf="candidateForm.get('phoneNumber').dirty && candidateForm.get('phoneNumber').errors">
                        Please input your phone number!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contactDay" [hidden]="!visible">Contact Day</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [hidden]="!visible">
                    <nz-date-picker formControlName="contactDay" [nzSize]="size" nzPlaceHolder="Select a date"></nz-date-picker>
                    <!-- <nz-form-explain *ngIf="candidateForm.get('contactDay').dirty && candidateForm.get('contactDay').errors && !exists(candidateForm.get('contactDay').errors)">Please input
                      the date</nz-form-explain> -->
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type" [hidden]="!visible">Recruiter</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [hidden]="!visible">
                    <nz-select formControlName="recruiter">
                        <nz-option *ngFor="let r of recruiters" nzLabel="{{r.name}} {{r.lastName}}" [nzValue]="r.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="candidateForm.get('recruiter').dirty && candidateForm.get('recruiter').errors">Please input the recruiter</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row nzType="flex" nzJustify="center">
        <button nz-button nzType="primary" style="background-color: green;" [hidden]="!isNewCandidate" (click)="createNewCandidate()">SAVE</button>
        <button nz-button nzType="primary" style="background-color: blue;" [hidden]="!isEditCandidate" (click)="saveEdit(candidateForm.get('id').value)" nzJustify="end">Recontact</button>
        <button nz-button nzType="primary" style="background-color: green;" [hidden]="!isEditCandidate" (click)="createNewCandidate()">START PROCESS</button>
    </div>
</form>

<ng-template #consultantDetailModal>
    <nz-table #CandidateTable [nzData]="filteredCandidate" [nzPageSize]="10">
        <thead>
            <tr>
                <th [style.text-align]="center">Name</th>
                <th [style.text-align]="center">Last Name</th>
                <th [style.text-align]="center">E-Mail</th>
                <th [style.text-align]="center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Candidate of CandidateTable.data">
                <td>{{ Candidate.name }}</td>
                <td>{{ Candidate.lastName }}</td>
                <td>{{ Candidate.emailAddress | truncate:75 }}</td>
                <td [style.text-align]="center">
                    <nz-divider nzType="vertical"></nz-divider>
                    <i (click)="showDetailsModal(Candidate.id, detailModal)" style="cursor: pointer;" nz-icon type="info-circle" theme="outline" nzTitle="Details" nz-tooltip></i>
                    <nz-divider nzType="vertical"></nz-divider>
                    <i (click)="Recontact(Candidate.id)" style="cursor: pointer;" nz-icon type="phone" theme="outline" nzTitle="Recontact" nz-tooltip></i>
                    <nz-divider nzType="vertical"></nz-divider>
                    <i (click)="startNewProcess(Candidate.id)" style="cursor: pointer;" nz-icon nzType="play-circle" nzTheme="outline" nzTitle="Start New Processes" nz-tooltip></i>
                    <!-- <nz-divider nzType="vertical"></nz-divider>
                <i (click)="edit(Candidate.id)" style="cursor: pointer;" nz-icon type="edit"
                  theme="outline" nzTitle="Edit" nz-tooltip></i>  -->
                    <!-- <nz-divider nzType="vertical"></nz-divider>
                <i (click)="showDeleteConfirm(Candidate.id)" style="cursor: pointer;" nz-icon type="delete"
                  theme="outline" nzTitle="Delete" nz-tooltip></i> -->
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-template>


<ng-template #detailModal>
    <candidate-details [_detailedCandidate]="emptyCandidate"></candidate-details>
</ng-template>