<!-- <br /><br />
<nz-collapse>
    <nz-collapse-panel [nzHeader]="'HIRE PROJECT DATA'">
        <app-hire-projected></app-hire-projected>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'EMPLOYEE CASUALTIES DATA'">
        <app-employee-casualties></app-employee-casualties>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'SKILLS'">
        <app-skills></app-skills>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'SKILL TYPES'">
        <app-skill-type></app-skill-type>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'CANDIDATE PROFILES'">
        <app-candidates-profile [_detailedCandidateProfile]="emptyCandidateProfile"></app-candidates-profile>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'COMMUNITIES'">
        <app-communities [_detailedCommunity]="emptyCommunity" [_detailedCandidateProfile]="emptyCandidateProfile"></app-communities>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'OFFICES'">
        <app-office [_detailedRoom]="emptyRoom" [_detailedOffice]="emptyOffice"></app-office>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'ROOMS'">
        <app-room [_detailedRoom]="emptyRoom" [_detailedOffice]="emptyOffice"></app-room>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'ROLES'">
        <app-role></app-role>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'COMPANY FESTIVITIES/REMINDERS'">
        <app-company-calendar></app-company-calendar>
    </nz-collapse-panel>

</nz-collapse> -->

<nz-layout>
    <nz-sider nzWidth="350px">
        <ul nz-menu nzTheme="dark" nzMode="inline" class="sider-menu">
            <li nz-menu-item>
                <a routerLink="/settings/hire-projected">Hire Project Data</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/settings/employee-casualties">Employee Casualties Data</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/settings/skills-list">Skills List</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/settings/skills-types">Skill Types</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/settings/profiles/candidates-profile">Candidate Profiles</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/settings/profiles/communities">Communities</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/settings/locations/offices">Offices</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/settings/locations/rooms">Rooms</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/settings/roles">Roles</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/settings/festivities">Festivities Reminders</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/settings/declining-reasons">Declining Reasons</a>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-content>
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer>Interview App designed with Ant Design ©2019, Implementing Angular</nz-footer>
    </nz-layout>
</nz-layout>