<form nz-form [formGroup]="offerForm" [nzLayout]="'horizontal'">
    <nz-divider nzText="OFFER STAGE"></nz-divider>
    <br />
    <nz-form-item>
        <nz-form-control>
            <input type="hidden" formControlName="id">
        </nz-form-control>
    </nz-form-item>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="type">Status</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="status" (ngModelChange)="statusChanged()">
                        <nz-option *ngFor="let status of statusList" nzLabel="{{status.name}}" [nzValue]="status.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="offerForm.get('status').dirty && offerForm.get('status').errors">Please select a status</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="date">Date</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker style="width: 100%;" formControlName="date"></nz-date-picker>
                    <nz-form-explain *ngIf="offerForm.get('date').dirty && offerForm.get('date').errors">
                        Please enter a date
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="type">Responsible</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="consultantOwnerId" nzPlaceHolder="Select the owner of the process">
                        <nz-option *ngFor="let c of _consultants" nzLabel="{{c.name}} {{c.lastName}}" [nzValue]="c.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="offerForm.get('consultantOwnerId').dirty && offerForm.get('consultantOwnerId').errors">Please enter the recruiter</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="seniority">Seniority</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select #seniority formControlName="seniority" (ngModelChange)="updateSeniority(seniority.value)">
                        <nz-option *ngFor="let seniority of seniorityList" nzLabel="{{seniority.name}}" [nzValue]="seniority.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="offerForm.get('seniority').dirty && offerForm.get('seniority').errors">Please select a seniority</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="offerDate">Offer Date</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker style="width: 100%;" formControlName="offerDate"></nz-date-picker>
                    <nz-form-explain *ngIf="offerForm.get('offerDate').dirty && offerForm.get('offerDate').errors">
                        Please enter a offer date
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="agreedSalary">Agreed Salary</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="number" nz-input formControlName="agreedSalary" id="agreedSalary" placeholder="Please enter the agreed salary" pattern="[0-9]+([\.,][0-9]+)?">
                    <nz-form-explain *ngIf="offerForm.get('agreedSalary').dirty && offerForm.get('agreedSalary').errors">
                        Please enter the salary
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="hireDate">Hire Date</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker style="width: 100%;" formControlName="hireDate"></nz-date-picker>
                    <nz-form-explain *ngIf="offerForm.get('hireDate').dirty && offerForm.get('hireDate').errors">
                        Please enter a hire date
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="feedback">Feedback</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <textarea rows="1" id="feedback" nz-input formControlName="feedback" placeholder="Input any additional information if necessary" id="feedback"></textarea>
                </nz-form-control>
                <nz-form-explain style="color: #f5222d" *ngIf="offerForm.get('feedback').dirty && offerForm.get('feedback').errors">
                    <ng-container *ngIf="offerForm.get('feedback')?.hasError('trimBeginError')">
                        The input has leading whitespace!
                    </ng-container>
                    <ng-container *ngIf="offerForm.get('feedback')?.hasError('trimEndError')">
                        The input has trailing whitespace!
                    </ng-container>
                </nz-form-explain>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="8" nzOffset="4">
            <nz-form-item>
                <nz-form-control [nzSm]="12" [nzXs]="24">
                    <label nz-checkbox [nzDisabled]="!backCheckEnabled" (change)="toggleBackgroundCheck()" (click)="toggleBackgroundCheck()" formControlName="backgroundCheckDone" nzFor="backgroundCheckDone">Background Check</label>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="offerDate">Done Date</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker style="width: 100%;" formControlName="backgroundCheckDoneDate"></nz-date-picker>
                    <nz-form-explain *ngIf="offerForm.get('backgroundCheckDoneDate').dirty && offerForm.get('backgroundCheckDoneDate').errors">
                        Please enter a date
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="8" nzOffset="4">
            <nz-form-item>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <label nz-checkbox [nzDisabled]="!preocupationalCheckEnabled" (click)="togglePreocupationalCheck()" (change)="togglePreocupationalCheck()" formControlName="preocupationalDone" nzFor="preocupationalDone">Pre-Ocupational Check</label>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="preocupationalDoneDate">Done Date</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-date-picker style="width: 100%;" formControlName="preocupationalDoneDate"></nz-date-picker>
                <nz-form-explain *ngIf="offerForm.get('preocupationalDoneDate').dirty && offerForm.get('preocupationalDoneDate').errors">
                    Please enter a date
                </nz-form-explain>
            </nz-form-control>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12" *ngIf="showRejectionReason()">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="rejectionReason">Rejection Reason</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <textarea rows="1 " nz-input id="rejectionReason" formControlName="rejectionReason" placeholder="Input the rejection reason"></textarea>
                </nz-form-control>
                <nz-form-explain style="color: #f5222d " *ngIf="showRejectionReason() && offerForm.get('rejectionReason').dirty && offerForm.get('rejectionReason').errors ">
                    <ng-container *ngIf="offerForm.get('rejectionReason')?.dirty && offerForm.get('rejectionReason')?.errors ">
                        Please enter rejection reason!
                    </ng-container>
                </nz-form-explain>
            </nz-form-item>
        </div>
    </div>
</form>