<a *ngIf="process" [routerLink]="['/process-details/', process.id]">Go back to Process details</a>
<nz-divider></nz-divider>
<h4>Process <i *ngIf="processStatus == 'finish'" nz-icon type="check-circle" theme="outline"></i></h4>
<p *ngIf="process && process.candidate">Candidate: {{process.candidate.name}} {{process.candidate.lastName}}</p>
<div nz-row>
  <label>Choose view</label>
  <br>
  <nz-select style="width: 120px;" [(ngModel)]="selectedView">
    <nz-option nzValue="vertical" nzLabel="Vertical"></nz-option>
    <nz-option nzValue="horizontal" nzLabel="Horizontal"></nz-option>
    <nz-option nzValue="timeline" nzLabel="Timeline"></nz-option>
  </nz-select>
</div>
<br>

<nz-divider nzText="Process progress"></nz-divider>

<div *ngIf="process && selectedView == 'vertical'" nz-row>
  <div nz-col nzSpan="24">
      <nz-steps *ngIf="process.stages && process.stages.length > 0"         
          nzDirection="vertical">
      <nz-step *ngFor="let stage of process.stages" 
              [nzTitle]="stage.title" 
              [nzStatus]="stage.status.toLowerCase()"
              [nzDescription]="stage.description">
      </nz-step>
    </nz-steps> 
  </div>
</div>

<div *ngIf="process && selectedView == 'horizontal'" nz-row>
  <div nz-col nzSpan="24">
      <nz-steps *ngIf="process.stages && process.stages.length > 0" 
          nzDirection="horizontal"
          nzSize="small">
      <nz-step *ngFor="let stage of process.stages" 
              [nzTitle]="stage.title" 
              [nzStatus]="stage.status.toLowerCase()"
              [nzDescription]="stage.description">
      </nz-step>
    </nz-steps> 
  </div>
</div>

<div *ngIf="process && selectedView == 'timeline'" nz-row>
  <div nz-col nzSpan="24">

    <nz-timeline *ngIf="process.stages && process.stages.length > 0">
        <nz-timeline-item *ngFor="let stage of process.stages" [nzColor]="getStatusColor(stage.status)">
          <p>{{stage.title}}</p>
          <p>{{stage.description}}</p>
          <p *ngIf="stage && stage.status.toLowerCase() == 'finish'">End date: {{stage.endDate}}</p>
          <p *ngIf="stage && stage.status.toLowerCase() != 'finish'">Start date: {{stage.startDate}}</p>
          <p *ngIf="stage && stage.consultantOwner">Owner: {{stage.consultantOwner.name}} {{stage.consultantOwner.lastName}}</p>
          <p *ngIf="stage && stage.consultantDelegate">Delegate: {{stage.consultantDelegate.name}} {{stage.consultantDelegate.lastName}}</p>
        </nz-timeline-item>
    </nz-timeline>

  </div>
</div>


<nz-divider></nz-divider>
<a *ngIf="process" [routerLink]="['/process-details/', process.id]">Go back to Process details</a>