h1 {
    font-size: 10em;
    color: white !important;
}

h3 {
    font-size: 4em;
    color: white !important;
}

h5 {
    color: white !important;
}

.divider {
    width: 82px;
    height: 225px;
    border-right: 5px solid white;
    position: absolute;
}