<form nz-form [formGroup]="candidateForm" [nzLayout]="'horizontal'">
    <nz-divider nzText="CANDIDATE'S DETAILS"></nz-divider>
    <br />
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">First Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="text" nz-input formControlName="name" id="name" placeholder="Please input the Name">
                    <nz-form-explain *ngIf="candidateForm.get('name').dirty && candidateForm.get('name').errors">
                        <ng-container *ngIf="candidateForm.get('name')?.hasError('trimBeginError')">
                            The input has leading whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('name')?.hasError('trimEndError')">
                            The input has trailing whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('name')?.hasError('required')">
                            Please input the name!
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName">Last Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="text" nz-input formControlName="lastName" id="lastName" placeholder="Please input the last name">
                    <nz-form-explain *ngIf="candidateForm.get('lastName').dirty && candidateForm.get('lastName').errors">
                        <ng-container *ngIf="candidateForm.get('lastName')?.hasError('trimBeginError')">
                            The input has leading whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('lastName')?.hasError('trimEndError')">
                            The input has trailing whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('lastName')?.hasError('required')">
                            Please input the last name!
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dni">DNI</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input formControlName="dni" id="'dni'" (change)="dniChanged()" type="number" nz-input placeholder="Please input a DNI">
                    <nz-form-explain *ngIf="candidateForm.get('dni').dirty && candidateForm.get('dni').errors">The input is not valid DNI!</nz-form-explain>
                    <nz-form-explain style="color: green;" *ngIf="isDniValid">This is a new DNI !</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">E-mail</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input formControlName="email" id="email" placeholder="Please input the email">
                    <nz-form-explain *ngIf="candidateForm.get('email').dirty && candidateForm.get('email').errors">The input is not valid E-mail!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="linkedin">LinkedIn</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input formControlName="linkedin" id="linkedin" placeholder="Please input the LinkedIn URL">
                    <nz-form-explain *ngIf="candidateForm.get('linkedin').dirty && candidateForm.get('linkedin').errors">
                        <ng-container *ngIf="candidateForm.get('linkedin')?.hasError('trimBeginError')">
                            The input has leading whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('linkedin')?.hasError('trimEndError')">
                            The input has trailing whitespace!
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">Phone Number</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="candidateForm.controls['phoneNumber']">
                    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                        <ng-template #addOnBeforeTemplate>
                            <nz-select formControlName="phoneNumberPrefix" style="width: 70px;">
                                <nz-option nzLabel="+54" nzValue="+54"></nz-option>
                                <nz-option nzLabel="+1" nzValue="+1"></nz-option>
                            </nz-select>
                        </ng-template>
                        <input formControlName="phoneNumber" id="'phoneNumber'" type="number" nz-input placeholder="Please input a phone number">
                    </nz-input-group>
                    <nz-form-explain *ngIf="candidateForm.get('phoneNumber').dirty && candidateForm.get('phoneNumber').errors">
                        Please input your phone number!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type">Recruiter</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="recruiter">
                        <nz-option *ngFor="let r of recruiters" nzLabel="{{r.name}} {{r.lastName}}" [nzValue]="r.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="candidateForm.get('recruiter').dirty && candidateForm.get('recruiter').errors">Please input the recruiter</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type">Preferred Office</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="preferredOffice">
                        <nz-option *ngFor="let o of _offices" nzLabel="{{o.name}}" [nzValue]="o.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="candidateForm.get('preferredOffice').dirty && candidateForm.get('preferredOffice').errors">
                        Please input the preferred office</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="profile">Profile</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="profile">
                        <nz-option *ngFor="let p of profiles" nzLabel="{{p.name}}" [nzValue]="p.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="candidateForm.get('profile').dirty && candidateForm.get('profile').errors">
                        Please input the profile</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="community">Community</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="community">
                        <nz-option *ngFor="let c of comms" nzLabel="{{c.name}}" [nzValue]="c.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="candidateForm.get('community').dirty && candidateForm.get('community').errors">Please input the community</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="isReferred">Is Referred
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <label nz-checkbox formControlName="isReferred"></label>
                    <!--in the future we could use something like (ngModelChange)="referredBy($event)" to show an input for the referring employee.-->
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="additionalInformation">Additional Information
                </nz-form-label>
                <nz-form-control>
                    <textarea rows="1" id="additionalInformation" style="width: 50%;" nz-input formControlName="additionalInformation" placeholder="Input any additional information if necessary" id="additionalInformation"></textarea>
                </nz-form-control>
                <nz-form-explain style="color: #f5222d" *ngIf="candidateForm.get('additionalInformation').dirty && candidateForm.get('additionalInformation').errors">
                    <ng-container *ngIf="candidateForm.get('additionalInformation')?.hasError('trimBeginError')">
                        The input has leading whitespace!
                    </ng-container>
                    <ng-container *ngIf="candidateForm.get('additionalInformation')?.hasError('trimEndError')">
                        The input has trailing whitespace!
                    </ng-container>
                </nz-form-explain>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-form-item *ngFor="let control of controlArray;let i = index">
                <nz-form-label [nzXs]="24" [nzSm]="4" *ngIf="i==0" [nzFor]="control.controlInstance[0]">
                    Skills
                </nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="20" [nzOffset]="i==0 ? 0 : 4">
                    <div nz-row>
                        <div nz-col nzSpan="4">
                            <nz-select style="width: 95%; margin-right:1%;" [formControlName]="control.controlInstance[0]" [attr.id]="control.id" id="control.id" nzShowSearch nzAllowClear [nzAllowClear]="false" nzPlaceHolder="Select a skill">
                                <nz-option *ngFor="let skill of skills;" nzLabel="{{skill.name}}" nzValue="{{skill.id}}">
                                </nz-option>
                            </nz-select>
                            <nz-form-explain *ngIf="getFormControl(control.controlInstance[0])?.dirty&&getFormControl(control.controlInstance[0])?.hasError('required')">
                                Please input candidate's skill or delete this field.
                            </nz-form-explain>
                        </div>
                        <div nz-col nzSpan="7">
                            <nz-form-control style="text-align: center; margin-left: 10%;">
                                <nz-slider formControlName="{{control.controlInstance[1]}}" id="control.controlInstance[1]">
                                </nz-slider>
                            </nz-form-control>
                        </div>
                        <div nz-col nzSpan="9">
                            <nz-form-control [nzSm]="14" [nzXs]="24" style="margin-left: 10%; width: 85%;">
                                <input type="text" nz-input formControlName="{{control.controlInstance[2]}}" style="width: 100%;" id="control.controlInstance[2]" placeholder="Please input a comment">
                                <nz-form-explain *ngIf="candidateForm.get(control.controlInstance[2]).dirty && candidateForm.get(control.controlInstance[2]).errors">
                                    <ng-container *ngIf="candidateForm.get(control.controlInstance[2])?.hasError('trimBeginError')">
                                        The input has leading whitespace!
                                    </ng-container>
                                    <ng-container *ngIf="candidateForm.get(control.controlInstance[2])?.hasError('trimEndError')">
                                        The input has trailing whitespace!
                                    </ng-container>
                                    <ng-container *ngIf="candidateForm.get(control.controlInstance[2])?.hasError('required')">
                                        Please input a comment!
                                    </ng-container>
                                </nz-form-explain>
                            </nz-form-control>
                        </div>
                        <div nz-col nzSpan="1">
                            <i nz-icon type="minus-circle-o" class="dynamic-delete-button" (click)="removeField(control,$event)"></i>
                        </div>
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzXs]="{span:24,offset:0}" [nzSm]="{span:20,offset:4}">
                    <button nz-button nzType="dashed" style="width:82%" (click)="addField($event)"><i nz-icon
                            type="plus"></i>
                        Add Skill</button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>