  <nz-card nzTitle="Top 3 Known Skills" [nzHoverable]="true">
    <nz-skeleton [nzLoading]="_detailedtopSkillLoading" [nzActive]="true">
      <nz-list nzBordered nzSize="large" *ngIf="this.getKnownSkills()">
        <nz-list-item style="font-size: x-large;">
          <div nz-col nzSpan="5">
            <i nz-icon nzType="star" [nzTheme]="'twotone'" style="font-size: xx-large;"
              [nzTwotoneColor]="'#FFD700'"></i>
          </div>
          <div nz-col nzSpan="10">{{skillRankedList[0].name}}</div>
          <div nz-col nzSpan="9"> <i nz-icon nzType="usergroup-add"
              nzTheme="outline"></i>{{skillRankedList[0].points}}</div>
        </nz-list-item>
        <nz-list-item style="font-size: x-large;">
          <div nz-col nzSpan="5">
            <i nz-icon nzType="star" [nzTheme]="'twotone'" style="font-size: xx-large;"
              [nzTwotoneColor]="'#C0C0C0'"></i>
          </div>
          <div nz-col nzSpan="10">{{skillRankedList[1].name}}</div>
          <div nz-col nzSpan="4"> <i nz-icon nzType="usergroup-add"
              nzTheme="outline"></i>{{skillRankedList[1].points}}</div>
        </nz-list-item>
        <nz-list-item style="font-size: x-large;">
          <div nz-col nzSpan="5">
            <i nz-icon nzType="star" [nzTheme]="'twotone'" style="font-size: xx-large;"
              [nzTwotoneColor]="'#cd7f32'"></i>
          </div>
          <div nz-col nzSpan="10">{{skillRankedList[2].name}}</div>
          <div nz-col nzSpan="4"> <i nz-icon nzType="usergroup-add"
              nzTheme="outline"></i>{{skillRankedList[2].points}}</div>
        </nz-list-item>
      </nz-list>
      <div *ngIf="!this.getKnownSkills()">
        <span style="margin-left: 25%;"><strong>THERE IS NO DATA TO SHOW</strong></span>
      </div>
    </nz-skeleton>
  </nz-card>