<div style="background: #ECECEC;padding:30px;">
  <div nz-row [nzGutter]="8">
    <app-report-processes [_detailedProcesses]="processes"></app-report-processes>
    <div nz-col [nzSpan]="12">
      <app-report-skills  [_processes]="processes"> </app-report-skills>
    </div>
  </div>
  <br />
  <div nz-row [nzGutter]="8">
    <app-report-progress-processes [_detailedProcesses]="processes"></app-report-progress-processes>
    <div nz-col [nzSpan]="12">
      <app-report-completed-processes  [_processes]="processes"></app-report-completed-processes>
    </div>
  </div>
<br/>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="12">
      <app-report-hire-projection [_processes]="processes" [_hireProjections]="hireProjections"> </app-report-hire-projection>
    </div>
    <div nz-col [nzSpan]="12">
      <app-report-hire-casualties [_processes]="processes" [_employeeCasualty]="employeeCasualty"> </app-report-hire-casualties>
    </div>
  </div>
<br />
<footer style="text-align: center;">
  <p><code>Interview</code> is been developed in Buenos Aires Studio using <code>.NET Core</code>,
    <code>Angular 7</code> and some components of <code>NgZorro</code>.</p>
</footer>
  