<br />
<div>
    <div nz-row>
        <div nz-col nzSpan="2" style="padding-left: 1%;">
            <button nz-button nzType="primary" nzShape="round" (click)="showAddModal(taskModal)">
        <i nz-icon type="plus" theme="outline"></i></button>
        </div>
        <div nz-col nzSpan="11" style="padding-right: 2%;">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="Task filter" [(ngModel)]="searchTitle" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon type="search"></i>
            </ng-template>
        </div>
        <div nz-col nzSpan="3">
            <span *ngIf="canAssign()">Showing: </span>
            <nz-switch *ngIf="canAssign()" [(ngModel)]="showAllTasks" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate" (click)="filterTasks()">
            </nz-switch>
        </div>
        <div nz-col nzSpan="3">
            <nz-dropdown [nzPlacement]="'bottomCenter'" style="margin-left: 10%;">
                <button nz-button nz-dropdown>{{orderBy}}</button>
                <ul nz-menu>
                    <li nz-menu-item>
                        <a (click)="orderTasksBy('urgent')">Urgent</a>
                    </li>
                    <li nz-menu-item>
                        <a (click)="orderTasksBy('new')">Newest</a>
                    </li>
                    <li nz-menu-item>
                        <a (click)="orderTasksBy('old')">Oldest</a>
                    </li>
                </ul>
            </nz-dropdown>
        </div>
        <div nz-col nzSpan="5">
            <nz-button-group>
                <button nz-button nzType="default" (click)="showToDoList('ALL')">ALL</button>
                <button nz-button nzType="default" (click)="showToDoList('OPEN')">OPEN</button>
                <button nz-button nzType="default" (click)="showToDoList('CLOSED')">CLOSED</button>
            </nz-button-group>
        </div>
    </div>
</div>
<br />
<div style="background: #ECECEC;padding:30px;">
    <div *ngFor="let toDo of toDoListDisplay | filter: searchTitle | sort">
        <nz-empty *ngIf="toDoListDisplay.length == 0 || toDo === -1" [nzNotFoundImage]="'../../assets/images/InboxEmpty.png'" [nzNotFoundContent]="noContent"></nz-empty>
    </div>
    <div *ngIf="toDoListDisplay && toDoListDisplay.length != 0" nz-row nzType="flex" nzAlign="top" [nzGutter]="8">
        <div nz-col [nzSpan]="8" *ngFor="let toDo of toDoListDisplay | filter : searchTitle">
            <nz-card [nzBordered]="true" [nzHoverable]="true" [nzExtra]="extraTemplate" [nzTitle]="titleTemplate" [ngStyle]="{'background-color': !toDo.isApprove ? '#fefefe' : '#ccff90'    }">

                <ng-template #titleTemplate>
                    <span style="font-size: larger;" nz-popover [nzContent]="toDo.title" nzPlacement="top">{{toDo.title}}</span> <br />
                    <span style="font-size: small;" *ngIf="canAssign() && !isCurrentUser(toDo)">Owner: {{toDo.consultant.name}} {{toDo.consultant.lastName}}</span>
                    <span style="font-size: small;" *ngIf="canAssign() && isCurrentUser(toDo)">Owner: You</span>
                </ng-template>

                <ng-template #extraTemplate>
                    <i *ngIf="shouldShowDeadlineIcon(toDo) && !toDo.isApprove" nz-icon [nzType]="'fire'" style="font-size: x-large;" class="ant-scroll-number-custom-component" [nzTheme]="'twotone'" [nzTwotoneColor]="'red'" nz-popover [nzContent]="datesTemplate" nzPlacement="topLeft"></i>
                    <i *ngIf="!shouldShowDeadlineIcon(toDo) && shouldShowNewIcon(toDo) && !toDo.isApprove" nz-icon [nzType]="'alert'" style="font-size: x-large;" class="ant-scroll-number-custom-component" [nzTheme]="'twotone'" [nzTwotoneColor]="'green'" nz-popover [nzContent]="datesTemplate"
                        nzPlacement="topLeft"></i>
                    <i *ngIf="!shouldShowDeadlineIcon(toDo) && !shouldShowNewIcon(toDo) && !toDo.isApprove" nz-icon [nzType]="'info-circle'" style="font-size: x-large; color: #638dfd;" class="ant-scroll-number-custom-component" [nzTheme]="'outline'" nz-popover [nzContent]="datesTemplate"
                        nzPlacement="topLeft"></i>
                    <i *ngIf="toDo.isApprove" nz-icon [nzType]="'check'" class="ant-scroll-number-custom-component" [nzTheme]="'outline'" style="font-size: x-large; color: green;" nz-popover [nzContent]="datesTemplate" nzPlacement="topLeft"></i>
                </ng-template>

                <ng-template #datesTemplate>
                    <div>
                        <p><strong>Creation Date: </strong>{{toDo.creationDate | date: 'MMM d, y'}}</p>
                        <p><strong>Due Date: </strong>{{toDo.endDate | date: 'MMM d, y'}}</p>
                        <p *ngIf="getDaysLeft(toDo.endDate) == 1 && !toDo.isApprove"><strong style="color: green; margin-left: 15%;">( {{getDaysLeft(toDo.endDate)}} day left)</strong></p>
                        <p *ngIf="getDaysLeft(toDo.endDate) > 1 && !toDo.isApprove"><strong style="color: green; margin-left: 15%;">( {{getDaysLeft(toDo.endDate)}} days left)</strong></p>
                        <p *ngIf="getDaysLeft(toDo.endDate) == 0 && !toDo.isApprove"><strong style="color: red; margin-left: 15%;">( For today )</strong></p>
                        <p *ngIf="getDaysLeft(toDo.endDate) == -1 && !toDo.isApprove"><strong style="color: red; margin-left: 15%;">( {{getDaysLeft(toDo.endDate).toString().substring(1)}} day overdue)</strong></p>
                        <p *ngIf="getDaysLeft(toDo.endDate) < -1 && !toDo.isApprove"><strong style="color: red; margin-left: 15%;">( {{getDaysLeft(toDo.endDate).toString().substring(1)}} days overdue)</strong></p>
                        <p *ngIf="toDo.isApprove"><strong style="color: rgb(0, 17, 255); margin-left: 15%;">Task completed!</strong></p>
                    </div>
                </ng-template>

                <nz-skeleton [nzActive]="true" [nzLoading]="loading">
                    <div *ngFor="let item of toDo.taskItems">
                        <label id="{{item.id}}" (mouseenter)="mouseHovering($event)" (mouseleave)="mouseLeft($event)" nz-checkbox *ngIf="!item.checked" (ngModelChange)="changeStatus(toDo.id, item)" [ngModel]="item.checked">
              <span id="span_{{item.id}}">{{item.text}}<i id="icon_{{item.id}}" style="display: none;float: right;"
                  nz-icon nzType="close" nzTheme="outline" (click)="removeItem(toDo.id, item)"></i></span>
            </label>
                    </div>
                    <nz-divider nzText="Done"></nz-divider>
                    <div *ngFor="let item of toDo.taskItems">
                        <label nz-checkbox *ngIf="item.checked" (ngModelChange)="changeStatus(toDo.id, item)" [ngModel]="item.checked">
              <span style="text-decoration:line-through; color: grey;">{{item.text}}</span>
            </label>
                    </div>
                    <nz-divider nzDashed [nzText]="text">
                        <ng-template #text><i nz-icon type="plus"></i> Add Item</ng-template>
                    </nz-divider>
                    <div>
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                            <input id="newItem_{{toDo.id}}" type="text" nz-input placeholder="Input a new item" />
                        </nz-input-group>
                        <ng-template #suffixIconButton>
                            <button nz-button nzType="primary" (click)="addItem(toDo.id)" nzSearch><i nz-icon
                  type="plus"></i></button>
                        </ng-template>
                    </div>
                    <br />
                    <ul class="ant-card-actions">
                        <li [style.width.%]="50" *ngIf="!toDo.isApprove" (click)="checkAll(toDo.id)" nz-tooltip nzTitle="Check All">
                            <span><i nz-icon type="check"></i></span>
                        </li>
                        <li [ngStyle]="{'width.%': !toDo.isApprove ? 50 : 100}" (click)="deleteTask(toDo.id)" nz-tooltip nzTitle="Delete Task">
                            <span><i nz-icon type="delete"></i></span>
                        </li>
                    </ul>
                </nz-skeleton>
            </nz-card>
            <br />
        </div>
    </div>
</div>

<ng-template #taskModal>
    <form nz-form [formGroup]="validateForm" [nzLayout]="'horizontal'">
        <div nz-row>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title">Title</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" nz-input formControlName="title" id="title" placeholder="Please input the Title of the task">
                        <nz-form-explain *ngIf="validateForm.get('title').dirty && validateForm.get('title').errors">
                            <ng-container *ngIf="validateForm.get('title')?.hasError('trimBeginError')">
                                The input has leading whitespace!
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('title')?.hasError('trimEndError')">
                                The input has trailing whitespace!
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('title')?.hasError('required')">
                                Please input the title!
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row *ngIf="canAssign()">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="consultant">Consultant</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <div style="display: flex;">
                            <nz-select style="width: 100%; margin-right:1%;" formControlName="consultant" [attr.id]="consultant" id="consultant" nzShowSearch nzAllowClear nzPlaceHolder="Select a consultant">
                                <nz-option *ngFor="let consultant of consultants;" nzLabel="{{consultant.name}} {{consultant.lastName}}" nzValue="{{consultant.id}}">
                                </nz-option>
                            </nz-select>
                            <button nz-button nzType="primary" nz-tooltip nzTitle="Assign to me" (click)="assignToMe()"><i nz-icon
                  nzType="user" nzTheme="outline"></i></button>
                        </div>
                        <nz-form-explain *ngIf="validateForm.get('consultant')?.dirty && validateForm.get('consultant')?.hasError('required')">
                            Please select a consultant
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="endDate">End date</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-date-picker formControlName="endDate"></nz-date-picker>

                        <nz-form-explain *ngIf="validateForm.get('endDate').dirty && validateForm.get('endDate').errors">
                            <ng-container *ngIf="validateForm.get('endDate')?.hasError('required')">
                                Please input the date
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('endDate')?.hasError('pastDateError')">
                                Please input a date greater than today
                            </ng-container>
                        </nz-form-explain>

                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="24">
                <nz-form-item *ngFor="let control of controlArray; let i = index">
                    <nz-form-label [nzXs]="24" [nzSm]="4" *ngIf="i == 0" [nzFor]="control.controlInstance">
                        Items</nz-form-label>
                    <nz-form-control [nzXs]="24" [nzSm]="20" [nzOffset]="i == 0 ? 0 : 4">
                        <input nz-input style="width: 85%; margin-right:8px;" placeholder="Input your task items here" [attr.id]="control.id" [formControlName]="control.controlInstance" />
                        <i nz-icon type="minus-circle-o" class="dynamic-delete-button" (click)="removeField(control, $event)"></i>
                        <nz-form-explain *ngIf="
                    getFormControl(control.controlInstance)?.dirty &&
                    getFormControl(control.controlInstance)?.hasError('required')
                  ">
                            Please input any text or delete this field.
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control style="margin-left: 25% !important;" [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
                        <button nz-button nzType="dashed" style="width:60%" (click)="addField($event)">
              <i nz-icon type="plus"></i> Add field
            </button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #deadlineIconTemplate>
    <i nz-icon [nzType]="'fire'" style="font-size: x-large;" class="ant-scroll-number-custom-component" [nzTheme]="'twotone'" [nzTwotoneColor]="'red'"></i>
</ng-template>

<ng-template #newIconTemplate>
    <i nz-icon [nzType]="'alert'" style="font-size: x-large;" class="ant-scroll-number-custom-component" [nzTheme]="'twotone'" [nzTwotoneColor]="'green'"></i>
</ng-template>

<ng-template #noContent>
    <span style="color: #4a90fe"> There is no data to show. </span>
</ng-template>

<ng-template #checkedTemplate>ALL</ng-template>
<ng-template #unCheckedTemplate>MINE</ng-template>