<div nz-col [nzSpan]="12">
  <nz-card nzTitle="Processes" [nzHoverable]="true">
    <nz-skeleton [nzLoading]="pieChartLoading" [nzActive]="true">
      <div style="display: block">
        <div *ngIf="!isPieData()">
          <span style="margin-left: 25%;"><strong>THERE IS NO DATA TO
              SHOW</strong></span>
        </div>
        <div *ngIf="isPieData()">
          <div>
            <div style="display: block">
              <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="true">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </nz-skeleton>
  </nz-card>
</div>