<form nz-form [formGroup]="clientForm" [nzLayout]="'horizontal'">
    <nz-divider nzText="CLIENT STAGE"></nz-divider>
    <br />
    <nz-form-item>
        <nz-form-control>
            <input type="hidden" formControlName="id">
        </nz-form-control>
    </nz-form-item>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type">Status</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="status" (ngModelChange)="statusChanged()">
                        <nz-option *ngFor="let status of statusList" nzLabel="{{status.name}}" [nzValue]="status.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="clientForm.get('status').dirty && clientForm.get('status').errors">Please select a status</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="date">Date</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker style="width: 100%;" formControlName="date"></nz-date-picker>
                    <nz-form-explain *ngIf="clientForm.get('date').dirty && clientForm.get('date').errors">
                        Please input a date
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type">Interviewer</nz-form-label>
           <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="text" nz-input formControlName="interviewer" id="interviewer" placeholder="Please input the interviewer's name">
            </nz-form-control>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="delegateName">Interviewer</nz-form-label>
               <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" nz-input formControlName="delegateName" id="delegateName" placeholder="Please input the delegate name">
                </nz-form-control>
            </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="feedback">Feedback</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <textarea rows="1" id="feedback" nz-input formControlName="feedback" placeholder="Input any additional information if necessary" id="feedback"></textarea>
                </nz-form-control>
                <nz-form-explain style="color: #f5222d" *ngIf="clientForm.get('feedback').dirty && clientForm.get('feedback').errors">
                    <ng-container *ngIf="clientForm.get('feedback')?.hasError('trimBeginError')">
                        The input has leading whitespace!
                    </ng-container>
                    <ng-container *ngIf="clientForm.get('feedback')?.hasError('trimEndError')">
                        The input has trailing whitespace!
                    </ng-container>
                </nz-form-explain>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12" *ngIf="showRejectionReason()">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="rejectionReason">Rejection Reason</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <textarea rows="1 " nz-input id="rejectionReason" formControlName="rejectionReason" placeholder="Input the rejection reason"></textarea>
                </nz-form-control>
                <nz-form-explain style="color: #f5222d " *ngIf="showRejectionReason() && clientForm.get('rejectionReason').dirty && clientForm.get('rejectionReason').errors ">
                    <ng-container *ngIf="clientForm.get('rejectionReason')?.dirty && clientForm.get('rejectionReason')?.errors ">
                        Please input rejection reason!
                    </ng-container>
                </nz-form-explain>
            </nz-form-item>
        </div>
    </div>
</form>