<div nz-row>
    <div nz-col nzSpan="24">
        <button nz-button nzType="primary" (click)="showAddModal(consultantModal)" nzShape="round">
      <i nz-icon type="plus" theme="outline"></i>Add new interviewer</button>
    </div>
</div>
<br />
<div nz-row>
    <div nz-col nzSpan="24">
        <nz-table #consultantTable [nzData]="listOfDisplayData" [nzPageSize]="10">
            <thead>
                <tr>
                    <th nzCustomFilter>Name
                        <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown>
                            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible" nz-dropdown></i>
                            <div class="search-box">
                                <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" (keyup.enter)="search()">
                                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="reset()">Reset</button>
                            </div>
                        </nz-dropdown>
                    </th>
                    <th [style.text-align]="center">Phone</th>
                    <th [style.text-align]="center">E-mail</th>
                    <th [style.text-align]="center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consultant of consultantTable.data">
                    <td>{{ consultant.name }} {{ consultant.lastName }}</td>
                    <td>{{ consultant.phoneNumber }}</td>
                    <td>{{ consultant.emailAddress }}</td>
                    <td [style.text-align]="center">
                        <i (click)="showDetailsModal(consultant.id, detailModal)" style="cursor: pointer;" nz-icon type="info-circle" theme="outline" nzTitle="Details" nz-tooltip></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i (click)="showEditModal(consultantModal, consultant.id)" style="cursor: pointer;" nz-icon type="edit" theme="outline" nzTitle="Edit" nz-tooltip></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i (click)="showDeleteConfirm(consultant.id)" style="cursor: pointer;" nz-icon type="delete" theme="outline" nzTitle="Delete" nz-tooltip></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<ng-template #detailModal>
    <consultant-details [_detailedConsultant]="emptyConsultant"></consultant-details>
</ng-template>

<ng-template #consultantModal>
    <form nz-form [formGroup]="validateForm">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">First Name</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input type="text" nz-input formControlName="name" id="name" placeholder="Please enter the Name">
                <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">
                    <ng-container *ngIf="validateForm.get('name')?.hasError('trimBeginError')">
                        The input has leading whitespace!
                    </ng-container>
                    <ng-container *ngIf="validateForm.get('name')?.hasError('trimEndError')">
                        The input has trailing whitespace!
                    </ng-container>
                    <ng-container *ngIf="validateForm.get('name')?.hasError('required')">
                        Please enter the name!
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName">Last Name</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input type="text" nz-input formControlName="lastName" id="lastName" placeholder="Please enter the last name">
                <nz-form-explain *ngIf="validateForm.get('lastName').dirty && validateForm.get('lastName').errors">
                    <ng-container *ngIf="validateForm.get('lastName')?.hasError('trimBeginError')">
                        The input has leading whitespace!
                    </ng-container>
                    <ng-container *ngIf="validateForm.get('lastName')?.hasError('trimEndError')">
                        The input has trailing whitespace!
                    </ng-container>
                    <ng-container *ngIf="validateForm.get('lastName')?.hasError('required')">
                        Please enter the last name!
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">E-mail</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input formControlName="email" id="email" placeholder="Please enter the email">
                <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">The input is not valid E-mail!</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">Phone Number</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']">
                <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                    <ng-template #addOnBeforeTemplate>
                        <nz-select formControlName="phoneNumberPrefix" style="width: 70px;">
                            <nz-option nzLabel="+54" nzValue="+54"></nz-option>
                            <nz-option nzLabel="+1" nzValue="+1"></nz-option>
                        </nz-select>
                    </ng-template>
                    <input formControlName="phoneNumber" id="'phoneNumber'" type="number" nz-input placeholder="Please enter a phone number">
                </nz-input-group>
                <nz-form-explain *ngIf="validateForm.get('phoneNumber').dirty && validateForm.get('phoneNumber').errors">
                    Please enter your phone number!</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="additionalInformation">Additional Information</nz-form-label>
            <nz-form-control>
                <textarea rows="2" id="additionalInformation" nz-input formControlName="additionalInformation" placeholder="Input any additional information if necessary"></textarea>
            </nz-form-control>
            <nz-form-explain style="color: #f5222d" *ngIf="validateForm.get('additionalInformation').dirty && validateForm.get('additionalInformation').errors">
                <ng-container *ngIf="validateForm.get('additionalInformation')?.hasError('trimBeginError')">
                    The input has leading whitespace!
                </ng-container>
                <ng-container *ngIf="validateForm.get('additionalInformation')?.hasError('trimEndError')">
                    The input has trailing whitespace!
                </ng-container>
            </nz-form-explain>
        </nz-form-item>
    </form>
</ng-template>
